---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About EarlyFinder - Web3 Project Validator</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>


		<h1>About EarlyFinder</h1>

		<h2>Vivamus lacus diam</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tristique dui. Etiam congue aliquet sollicitudin. Morbi eget consequat libero. Curabitur faucibus dolor vel nibh ultrices</p>

		<p>In aliquet at erat ut ullamcorper. Ut dolor urna, pellentesque eu posuere vel, hendrerit sed ipsum. Quisque sed commodo eros. Nam urna erat, pretium id rutrum efficitur, volutpat sed erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
	</body>
</html>
