---
	import '../styles/global.css';
	import Footer from '../components/Footer.astro';
	import Header from '../components/Header.astro'

	const pageTitle = "EarlyFinder - Web3 Project Validator"
	

	/// Color variable /// 
	const titleColor = "#8ed816"
	const fontTitle = "Helvetica"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>



	</head>
	<body>
		<Header />

		<h1>EarlyFinder - Home</h1>

		<Footer />
	</body>

</html>
